@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Global styles */
html {
    scroll-behavior: smooth !important;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}

/* Firefox scrollbar */
* {
    scrollbar-width: auto !important;
    scrollbar-color: #414a4c #f0f0f0 !important; /* thumb-color track-color */
}

/* Webkit scrollbar (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 20px !important;
}

::-webkit-scrollbar-track {
    background: #708090 !important;
    border-radius: 100vh !important;
}

::-webkit-scrollbar-thumb {
    background: #414a4c !important;
    border-radius: 100vh !important;
    border: 6px solid #f0f0f0 !important;
}

::-webkit-scrollbar-thumb:hover {
    background: #2d3436 !important;
    cursor: grab;
}